body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

p {
  text-align: center;
  font-style: italic;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("assets/images/introspectivMain.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("assets/images/burger3Main.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("assets/images/convoyMain.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("assets/images/footerMain.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.spacer {
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.spacer-container {
  position: relative;
}

a.border {
  background-color: #fff;
  color: #111;
  padding: 15px;
  font-size: 25px;
  opacity: .9;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 2px solid white;

}

a.border:hover, a.border:focus, a.border:active {
  background-color: #111;
  color: white;
  border: 2px solid white;
}

a:link {
  text-decoration: none;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#introspectiv {
  font-family:'Amatic SC', cursive;
  font-size: 50px;
  position: relative;
  left: 2.3%
}

#burger3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

#convoy {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

#line {
  visibility: hidden;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}